.banner {
  background-image: url("../../../assets/aboutUs/banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  margin: 0 auto;
  height: 100vh;
}
.banner-text {
  position: absolute;
  bottom: 22vh;
  left: 50%;
  top: 25%;
  transform: translateX(-50%);
  color: #e53935;
  text-align: center;
  white-space: nowrap;
}
@media (min-width: 768px) {
  .banner-text {
    bottom: 24vh;
  }
}
@media (min-width: 1024px) {
  .banner-text {
    bottom: 26vh;
  }
}
