.banner {
  background-image: url("../../../assets/aboutUs/banner.jpg");
  background-size: cover; /* always covers full area */
  background-position: center; /* centers image focus */
  background-repeat: no-repeat;
  position: relative;
  /* upper limit for desktops */
  width: 100%; /* shrink on mobiles & tablets */
  margin: 0 auto; /* center on large screens */
  height: 100vh; /* full viewport height */
}
.banner-text {
  position: absolute;
  bottom: 22vh; /* adjust this value to move above buildings */
  left: 50%;
  top: 25%;
  transform: translateX(-50%);
  color: #e53935; /* red */
  text-align: center;
  white-space: nowrap;
}
@media (min-width: 768px) {
  .banner-text {
    bottom: 24vh; /* moves up a bit more on medium screens */
  }
}
@media (min-width: 1024px) {
  .banner-text {
    bottom: 26vh; /* moves up further on large screens */
  }
}
