.swiper-pagination {
  position: relative !important;
  margin-top: 2rem;
  text-align: center;
}

.swiper-pagination-bullet {
  background-color: #f97316;
  opacity: 0.5;
}
.swiper-pagination-bullet-active {
  background-color: #f97316;
  opacity: 1;
}

.swiper-slide {
  opacity: 0 !important;
  transition: opacity 1s ease-in-out;
}
.swiper-slide-active {
  opacity: 1 !important;
}
