@import "tailwindcss";
body {
  font-family: "proxima-nova", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* h1 */
h1 {
  font-size: 28px; /* mobile */
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 16px;
}

@media (min-width: 768px) {
  h1 {
    font-size: 30px; /* tablet */
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 30px; /* laptop/desktop */
  }
}

/* h2 */
h2 {
  font-size: 20px; /* mobile */
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 12px;
}

@media (min-width: 768px) {
  h2 {
    font-size: 24px; /* tablet */
  }
}

@media (min-width: 1024px) {
  h2 {
    font-size: 24px; /* laptop/desktop */
  }
}

/* p */
p {
  font-size: 16px; /* mobile */
  line-height: 1.2;
  margin-bottom: 12px;
  color: #636466;
}

@media (min-width: 768px) {
  p {
    font-size: 18px; /* tablet */
  }
}

@media (min-width: 1024px) {
  p {
    font-size: 18px; /* laptop/desktop */
  }
}

/* colors */
.text-color-red {
  color: #e31f2b;
}
.text-color-orange {
  color: #f47920;
}
.bg-gray-color {
  background-color: #f0f0f0;
}
.text-color-gray {
  color: #636466;
}
.text-white {
  color: white;
}
.margin-bottom-0 {
  margin-bottom: 0px;
}
.footer-gradient {
  /* Desktop gradient */
  background: linear-gradient(
    90deg,
    rgba(199, 200, 202, 1) 0%,
    rgba(99, 100, 102, 1) 100%
  );
}
.bg-orange-red-gradient:hover {
  background: transparent linear-gradient(90deg, #f47920 0%, #e31f2b 100%) 0% 0%
    no-repeat padding-box;
  color: white;
}
.bg-color-white {
  background-color: white !important;
}
.font-size-12px {
  font-size: 12px;
}
